In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [12]:
df=pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/14_naive_bayes/spam.csv")

In [13]:
df .head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
df.shape

(5572, 2)

In [15]:
#replace the null values with null string
df=df.where(pd.notnull(df),'')

In [16]:
df.shape

(5572, 2)

In [20]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [21]:
df.loc[df['Category']=='spam','Category',]=0
df.loc[df['Category']=='ham','Category',]=1

In [22]:
df.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [23]:
x=df['Message']
y=df['Category']

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [26]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')

In [29]:
x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)

In [30]:
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [31]:
model=LinearSVC()

In [32]:
model.fit(x_train_features,y_train)

LinearSVC()

In [33]:
model.score(x_train_features,y_train)

0.9993269015032533

In [34]:
model.score(x_test_features,y_test)

0.9820627802690582

In [38]:
input_mail=["I 've been searching for the right word to thanku for this breather.I promise i wont take your helf for granted and will fulfill my promise.You have been wonderful and a blessing at all times. "]

In [39]:
input_mail_features=feature_extraction.transform(input_mail)

In [40]:
prediction=model.predict(input_mail_features)

In [41]:
prediction

array([1])